.table{
    border-bottom: 1px solid  #C6C6C6;
    height: 70px;
}
.table>img{
    width: 170px;
    height: 40px;
    padding: 20px 40px 20px 40px;
}
.h1{
    color: #0F4C5C;
    text-align: center;
    margin-top: 60px;
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}
.bord{
    border: 2px solid #F3F3F4;
    width: 275px;
    height: 320px;
    margin: 20px;
    border-radius: 20px;
    background-color: #F3F3F4;
}
.bord>img{
    width: 230px;
    height: 180px;
    margin: 30px;
    cursor: pointer;
}
.bord:hover{
    background-color:hwb(122 30% 31% / 0.5); ;
    transition: border-color 0.9s, box-shadow 0.6s; /* Slower transition on click */

}

.p{
    text-align: center;
    margin-top: 80px;
}
